body{
    
    font-family: arial;
    font-size: 15px;
    line-height: 1.6em;
    
}

li{
    
    list-style: none;
    
}

a{
    
    text-decoration: none;
}

label{
    
    display: inline-block;
    width: 180px;
    
}

input[type="text"]{
    
    width: 97%;
    padding: 4px;
    border-radius: 5px;
    border: 1px #ccc solid;
    
    
}

input[type="number"]{
    
    width: 50px;
    padding: 4px;
    border-radius: 5px;
    border: 1px #ccc solid;
    
    
}


.container{
    
    
}

header{
    
    border-bottom: 3px solid #f4f4f4;
    
}

footer{
    
    border-top: 3px solid #f4f4f4;
    text-align: center;
    padding-top: 5px;
}

main{
    
    padding-bottom: 20px;
}


.separador{
    
    margin: 10px 0;
}

.current{
    
    padding: 10px;
    background: #f4f4f4;
    border: #ccc dotted 1px;
    margin: 20px 0 10px 0;
 
}


#color-btn{
    background-color: #0c4b1f;

}
